@font-face {
    font-family: myBoldFont;
    src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: myLightFont;
    src: url("../fonts/Roboto-Thin.ttf");
}

body {
    font-family: myBoldFont !important;
}

button {
    font-family: myLightFont !important;
}

/*header*/
.header-cart {
    min-width: 150px;
}

/*product*/
.product-thumbnail-sm {
    height: 250px;
}

.product-price {
    font-size: 18px;
}

/*pagination*/
.pagination {
    margin: 0;
}

.page-item .page-link {
    margin: 0 3px;
    color: #F8694A;
}

.page-item:hover .page-link {
    color: #F8694A;
}

.page-item.active .page-link {
    background-color: #F8694A;
    border-color: #F8694A;
}

.page-item.active:hover .page-link {
    background-color: #F8694A;
    border-color: #F8694A;
}

/*product list*/
.sort-filter select.input {
    width: 150px;
}

.filter-category {
    max-height: 500px;
    overflow-y: auto;
}

.filter-table td {
    padding: 10px 3px;
}

.shopping-cart-table td:first-child {
    min-width: 100px;
}
.shopping-cart-table td.details {
    min-width: 400px;
    padding-right: 20px;
}

.shopping-cart-table td:not(:first-child) {
    min-width: 200px;
}

.header-logo {
    position: relative;
    top: 5px
}
