@font-face {
    font-family: myFont;
    src: url("../fonts/Roboto-Medium.ttf");
}

body {
    font-family: myFont !important;
}

tr.detail-row > td {
    padding: 10px 10px 10px 30px !important;
}

tr.detail-row > td > table {
    margin: 0;
}

tr.sub-row {
    display: none;
}

.popover {
    min-width: 150px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-r-5 {
    margin-right: 5px;
}

.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.visible-hidden {
    visibility: hidden;
}

.dataTables_wrapper .row:first-child, .dataTables_wrapper .row:last-child {
    background-color: transparent !important;
}

.dataTables_wrapper .row:last-child {
    border: none !important;
}

.dataTable > thead > tr > th[class*=sorting_] {
    color: #707070;
}

.common-list {
    min-width: 200px;
    max-width: 250px;
}

.common-list li {
    padding: 7px 0;
}

.overflow-auto {
    overflow: auto;
}

.form-table {
    width: 100%;
}

.form-table td {
    padding: 7px 0;
}

#products-modal table td, #orders-table td {
    vertical-align: middle;
}

#orders-table td.seenStatus {
    width: 110px;
}

#products-modal table td:first-child {
    width: 80px;
}

#products-modal table td:first-child > img {
    max-width: 100%;
}

/*width*/
.w-60 {
    width: 60px;
}

.w-100 {
    width: 100px;
}

.w-80 {
    width: 80px;
}

.w-200 {
    width: 200px;
}

.images-container {
    max-width: 100%;
    overflow-x: auto;
}

.images-container .image-wrapper {
    position: relative;
    width: 150px;
    margin: 15px 5px;
    padding: 10px;
    display: inline-block;
}

.images-container .image-wrapper .fa-trash {
    display: none;
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 40%;
    animation-name: slideInDown;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.images-container .image-wrapper .fa-trash:hover {
    color: #d9d9d9;
}

.images-container .image-wrapper:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

.images-container .image-wrapper:hover .fa-trash {
    display: inline-block;
}

.images-container .image-wrapper img {
    max-width: 100%;
}

