@font-face {
    font-family: myFont;
    src: url("../fonts/Roboto-Medium.ttf");
}

body {
    font-family: myFont !important;
}

tr.detail-row > td {
    padding: 10px 10px 10px 30px !important;
}

tr.detail-row > td > table {
    margin: 0;
}

tr.sub-row {
    display: none;
}

.popover {
    min-width: 150px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-r-5 {
    margin-right: 5px;
}

.p-0 {
    padding: 0 !important;
}

.visible-hidden {
    visibility: hidden;
}

.dataTables_wrapper .row:first-child, .dataTables_wrapper .row:last-child {
    background-color: transparent !important;
}

.dataTables_wrapper .row:last-child {
    border: none !important;
}

.dataTable > thead > tr > th[class*=sorting_] {
    color: #707070;
}

.common-list {
    min-width: 200px;
    max-width: 250px;
}

.common-list li {
    padding: 7px 0;
}